@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removing the arrow buttons from the input with type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}